<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
>
<h:head>
<title>Employee Management</title>
<script type="text/javascript">
    function handleLoginRequest(xhr, status, args) {
        if(args.validationFailed || !args.loggedIn) {
            PF('dlg').jq.effect("shake", {times:5}, 100);
        }
        else {
            PF('dlg').hide();
            $('#loginLink').fadeOut();
        }
    }
</script>
</h:head>

<h:body>
<h1>Add New Employee</h1>

<h:form>        
    <h:outputLink value="javascript:void(0)" onclick="PF('dlg').show();" title="login">
        click here to add the new employee
    </h:outputLink>
     
    <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
     
    <p:dialog header="Fill Employee Details" widgetVar="dlg" resizable="true">
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="firstName" value="First Name:" />
            <p:inputText id="firstName" value="#{employee.firstName}" required="true" label="firstName" />
             
            <h:outputLabel for="lastName" value="LastName:" />
            <p:inputText id="lastName" value="#{employee.lastName}" required="true" label="lastName" />

           <h:outputLabel for="gender" value="Gender:" /> 
            <p:selectOneMenu id="gender" value="#{employee.gender}">
                <f:selectItem itemLabel="Select Gender" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{employee.genders}" />
            </p:selectOneMenu>
           
             <h:outputLabel for="mobile" value="Mobile:" />
            <p:inputText id="mobile" value="#{employee.mobile}" required="true" label="mobile" />
             
            <h:outputLabel for="location" value="Location:" />
            <p:inputText id="location" value="#{employee.location}" required="true" label="location" />
            
            <h:outputLabel for="dateOfBirth" value="Date Of Birth:" />
            <p:calendar  id="dateOfBirth" value="#{employee.dateOfBirth}" pattern="MM/dd/yyyy"  required="true">
            </p:calendar>
             
            <h:outputLabel for="designation" value="Designation:" />
            <p:selectOneMenu id="designation" value="#{employee.designation}">
                <f:selectItem itemLabel="Select Designation" itemValue="" noSelectionOption="true" />
                <f:selectItems value="#{employee.designations}" />
            </p:selectOneMenu>
            
            <f:facet name="footer">
                <p:commandButton value="Submit" update="growl" action="#{userLoginView.addEmployee(employee)}"
                                 oncomplete="handleLoginRequest(xhr, status, args)" />
            </f:facet>  
        </h:panelGrid>
    </p:dialog>    
</h:form>
</h:body>

</html>