<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
>
<h:head>
<title>Employee Management</title>
<script type="text/javascript">
    function handleLoginRequest(xhr, status, args) {
        if(args.validationFailed || !args.loggedIn) {
        	PF('dlg').hide();
        }
    }
</script>
</h:head>

<h:body>
<h1>Employee Details</h1>
<h:form>        
  <p:commandButton onclick="PF('dlg').show();" value="Add Employee">
    </p:commandButton>
     
    <p:growl id="growl" sticky="true" showDetail="true" life="3000" />
     
    <p:dialog id="myDialog" header="Fill Employee Details" widgetVar="dlg" resizable="false">
        <h:panelGrid columns="2" cellpadding="5">
            <h:outputLabel for="firstName" value="First Name:" />
            <p:inputText id="firstName" value="#{employee.firstName}" required="true" label="firstName" />
             
            <h:outputLabel for="lastName" value="LastName:" />
            <p:inputText id="lastName" value="#{employee.lastName}" required="true" label="lastName" />

           <h:outputLabel for="gender" value="Gender:" /> 
            <p:selectOneMenu id="gender" value="#{employee.gender}" required="true">
                <f:selectItem itemLabel="Select Gender" itemValue="" />
                <f:selectItems value="#{employee.genders}" />
            </p:selectOneMenu>
           
             <h:outputLabel for="mobile" value="Mobile:" />
            <p:inputText id="mobile" value="#{employee.mobile}" required="true" label="mobile" />
             
            <h:outputLabel for="location" value="Location:" />
            <p:inputText id="location" value="#{employee.location}" required="true" label="location" />
            
            <h:outputLabel for="dateOfBirth" value="Date Of Birth:" />
            <p:calendar  id="dateOfBirth" value="#{employee.dateOfBirth}" pattern="MM/dd/yyyy"  required="true">
            </p:calendar>
             
            <h:outputLabel for="designation" value="Designation:" />
            <p:selectOneMenu id="designation" value="#{employee.designation}" required="true">
                <f:selectItem itemLabel="Select Designation" itemValue="" />
                <f:selectItems value="#{employee.designations}" />
            </p:selectOneMenu>
            
            <f:facet name="footer">
                <p:commandButton value="Submit" update="growl form" action="#{userLoginView.addEmployee(employee)}"
                                 oncomplete="handleLoginRequest(xhr, status, args)" />
            </f:facet>  
        </h:panelGrid>
    </p:dialog>    
</h:form>
<br></br>
<h:button value="View Deleted Employees" outcome="employeeDeleted" />
<br></br>
<br></br>
<h:form id="form" >
    <p:growl id="msgs" showDetail="true"/>
<p:dataTable  value="#{userLoginView.getEmployeeList()}" var="emp" border="1" editable="true">

<p:column style="width:32px" headerText="Id">
#{emp.employeeId}
</p:column>

<p:column headerText="First Name">
<p:cellEditor>
   <f:facet name="output"><h:outputText value="#{emp.firstName}" /></f:facet>
   <f:facet name="input"><p:inputText  id="firstName" value="#{emp.firstName}" style="width:100%" label="firstName"/></f:facet>
</p:cellEditor>
</p:column>

<p:column headerText="Last Name">
<p:cellEditor>
   <f:facet name="output"><h:outputText value="#{emp.lastName}" /></f:facet>
   <f:facet name="input"><p:inputText id="lastName" value="#{emp.lastName}" style="width:100%" label="lastName" /></f:facet>
</p:cellEditor>
</p:column>

<p:column headerText="Date Of Birth">
<p:cellEditor>
   <f:facet name="output"><h:outputText value="#{emp.dateOfBirth}" pattern="MM/dd/yyyy"/></f:facet>
   <f:facet name="input"><p:calendar  id="dateOfBirth" value="#{employee.dateOfBirth}" pattern="MM/dd/yyyy" label="dateOfBirth"/></f:facet>
</p:cellEditor>
</p:column>

<p:column headerText="Gender">
<p:cellEditor>
   <f:facet name="output"><h:outputText value="#{emp.gender}" /></f:facet>
   <f:facet name="input">
    <h:selectOneMenu value="#{emp.gender}" style="width:100%">
            <f:selectItems value="#{emp.genders}"/>
        </h:selectOneMenu>
        </f:facet>
</p:cellEditor>
</p:column>

<p:column headerText="Mobile">
<p:cellEditor>
   <f:facet name="output"><h:outputText value="#{emp.mobile}" /></f:facet>
   <f:facet name="input"><p:inputText id="mobile" value="#{emp.mobile}" style="width:100%" label="mobile" /></f:facet>
</p:cellEditor>
</p:column>

<p:column headerText="Location">
<p:cellEditor>
   <f:facet name="output"><h:outputText value="#{emp.location}" /></f:facet>
   <f:facet name="input"><p:inputText id="location" value="#{emp.location}" style="width:100%"/></f:facet>
</p:cellEditor>
</p:column>

<p:column headerText="Designation">
<p:cellEditor>
   <f:facet name="output"><h:outputText value="#{emp.designation}" /></f:facet>
   <f:facet name="input">
    <h:selectOneMenu value="#{emp.designation}" style="width:100%">
            <f:selectItems value="#{emp.designations}"/>
        </h:selectOneMenu>
        </f:facet>
</p:cellEditor>
</p:column>

<p:column headerText="Created Date">
#{emp.createddate}
</p:column>

<p:column style="width:32px" headerText="Edit">
<p:rowEditor/>
</p:column>

 <p:column style="width:32px" headerText="Del">
   <p:commandButton icon="ui-icon-trash"
       title="Delete this Employee"
       actionListener="#{userLoginView.delete(emp)}"
       ajax="false" />
</p:column>

<p:ajax event="rowEdit" listener="#{userLoginView.onRowEdit}" update=":form:msgs"/>
<p:ajax event="rowEditCancel" listener="#{userLoginView.onRowCancel}" update=":form:msgs"/>

</p:dataTable>
</h:form>
</h:body>

</html>