<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
>
<h:head>
<title>Employee Management</title>

</h:head>

<h:body>
<h1>Deleted Employee Details</h1>



<p:dataTable value="#{userLoginView.getDeletedEmployeeList()}" var="emp" border="1">

<p:column>
<f:facet name="header">
Employee Id
</f:facet>
#{emp.employeeId}
</p:column>

<p:column>
<f:facet name="header">
First Name
</f:facet>
#{emp.firstName}
</p:column>

<p:column>
<f:facet name="header">
Last Name
</f:facet>
#{emp.lastName}
</p:column>

<p:column>
<f:facet name="header">
Date Of Birth
</f:facet>
#{emp.dateOfBirth}
</p:column>

<p:column>
<f:facet name="header">
Gender
</f:facet>
#{emp.gender}
</p:column>

<p:column>
<f:facet name="header">
Mobile
</f:facet>
#{emp.mobile}
</p:column>

<p:column>
<f:facet name="header">
Location
</f:facet>
#{emp.location}
</p:column>

<p:column>
<f:facet name="header">
Designation
</f:facet>
#{emp.designation}
</p:column>

</p:dataTable>
</h:body>

</html>