<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
>
<h:head>
<title>Employee Management</title>
<script type="text/javascript">
    function handleLoginRequest(xhr, status, args) {
        if(args.validationFailed || !args.loggedIn) {
            PF('dlg').jq.effect("shake", {times:5}, 100);
        }
        else {
            PF('dlg').hide();
            $('#loginLink').fadeOut();
        }
    }
</script>
</h:head>

<h:body>
<div style="display: block;margin-left:35%;">
<p:chart type="pie" model="#{chartView.pieModel}" style="width:500px;height:400px;" />
<br />

<h:button value="View Employees Details" outcome="employeeDetails" />

<h:button value="View Deleted Employees" outcome="employeeDeleted" />
</div>
</h:body>
</html>