<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
>

<h:head>
<title>Employee Management</title>
<style type="text/css">
    body .ui-staticmessage.ui-message {
        width: 100%;
    }
</style>
</h:head>

<h:body>
<div class="ui-g">
    <div class="ui-g-12 ui-md-3">
        <p:staticMessage severity="error" summary="ERROR!" detail="Something went wrong please try again later"/>
    </div>
</div>
</h:body>

</html>