<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:p="http://primefaces.org/ui"
>
<h:head>
<title>Employee Management</title>

<link rel="stylesheet" type="text/css" href="css/style.css" />
</h:head>

<h:body>
<div class="centred-form">
	<h2>Employee Management</h2>
	<h:form>
		<h3>Admin Login</h3>

		<p:growl id="growl" sticky="true" showDetail="true" life="3000" />

		<h:panelGrid columns="2" cellpadding="5">
			<h:outputLabel for="username" value="Username" />
			<p:inputText id="username" value="#{userLoginView.username}" required="true" label="username"></p:inputText>
			<p:message for="username"></p:message>
			<br></br>
			
			<h:outputLabel for="password" value="Password" />
			<p:password id="password" value="#{userLoginView.password}" required="true" label="password"></p:password>
			<p:message for="password"></p:message>
			<br></br><br></br>
			 <f:facet name="footer">
			<p:commandButton value="Login" update="growl" action="#{userLoginView.login}"
	                                  />
	         </f:facet>          
        </h:panelGrid>
	</h:form>
</div>
</h:body>

</html>